* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    border: none;
    padding: 0;
}

body {
    background: #f5f5f5;
}

header {
    position: fixed;
    width: 100%;
    background: #159957;
    opacity: 0.9;
}

ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #fff;
    color: #159957;
}

.page-header {
    color: #fff;
    text-align: center;
    background: #159957;
    display: block;
    line-height: 1.5;
}

.content {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
}

.subcontent {
    margin-top: 1rem;
    font-size: 1.1em;
}

.subcontent:first-child {
    margin-top: 0;
}

code {
    font-size: 0.9em;
}

.subheader {
    padding-top: 50px;
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 1rem;
    color: #159957;
}

.miniheader {
    margin: 0 0 1rem;
    color: #159957;
    font-weight: normal;
}

h1 {
    font-size: 3.25rem;
}

h2 {
    font-size: 1.5rem;
}

.subtitle {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 0.7;
}

.show-button {
    padding: 10px 15px;
    margin-top: 1rem;
    background: #159957;
    color: #fafafa;
    cursor: pointer;
}

.p-lg {
    padding: 8rem 6rem;
}

.m-t-2 {
    margin-top: 2rem;
}

.footer {
    font-weight: 800;
}

.footer a {
    color: #159957;
    text-decoration: none;
}