.g-time-wrapper {
    background: honeydew;
    min-width: 300px;
    min-height: 450px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.g-flex {
    flex-grow: 1;
    border: 2px solid red
}

.g-head {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1976D2;
}

.g-head-content {
    font-size: 3em;
    color: #c7d6e1;
    display: flex;
}

.g-current.g-active {
    color: white
}

.g-current {
    margin: 0 2px;
}

.g-clock-wrapper {
    flex-grow: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.g-clock {
    border: 1px solid green;
    background: #CFD8DC;
    border-radius: 100%;

}

.g-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 0.5;

}

.g-button {
    font-weight: 600;
    color: #1976D2;
    border: none;
    background: transparent;
    margin-right: 16px;
    padding: 8px;
}

.g-button:hover {
    cursor: pointer;
    background: #CFD8DC;
}

.g-pointer:hover {
    cursor: pointer;
}